.signin-and-signup{
  display:grid;
  grid-template-columns: 40% auto;
  height:100%;
}

#login h4 a{
  color:#DC143C;
}
.button-signin-and-signup{
  width:100%;
  margin:20px 0px;
  padding:10px 20px;
  background-color:#DC143C;
  color:white;
  border:1px solid #DC143C;
  cursor: pointer;
  border-radius:8px;
  transition:all .3s;
}

#bg-login{
  background-image: url("/img/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity:0.4;
  width:100%;
}

#login{
  padding:40px 40px;
  border:1px solid gray;
  border-radius:5%;
  justify-self: center;
  margin:50px auto;
  text-align: center;
  display: inline-block;
  background-color:white;
  width:40%;
}

#login p{
  font-size : 14px;
}

#login label{
  display:block;
  text-align:center;
  margin:10px 0px;
}

#login input{
  display:block;
  text-align:left;
  margin:10px 0px;
  border:none;
  outline:none;
  width:100%;
}

#form-border{
  height:1px;
  width:100%;
  background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
}

header{
  padding:20px 20px;
  text-align:center;
  border:1px solid gray;
  box-shadow: 0px 0px 5px 0px gray;
}

header a{
  display:inline-block;
  text-align:center;
}

header img{
  height:100px;
  width:100px;
  justify-self: center;
}

.Item-menu{
  margin : 20px 40px;
  padding : 10px 40px;
  text-align : center;
  border : 1px solid gray;
  box-shadow : 1px 1px 1px 1px;
}

.Item-menu-inbox{
  margin: 20px 300px;
  padding: 10px 40px;
  text-align: center;
  border : 1px solid gray;
  box-shadow : 1px 1px 1px 1px;
}

.Item-column{
  display : grid;
  grid-template-columns: repeat(2,auto);
}

.Item{
  border: 1px solid black;
  padding: 10px 10px;
  margin: 10px 10px;
  border-radius: 8px;
  transition : all .3s;
}

.Item:hover {
  background-color: #F8F8FF;
  cursor:pointer;
  box-shadow:2px 4px 4px 1px black;
}

.Item a{
  text-decoration: none;
  color: black;
}

.item-image{
  height : 50px;
  width : 50px;
}

.table_data{
  color: #232323;
  border-collapse : collapse;
  margin-top : 50px;
  margin-left : 10px;
  margin-right : 10px;
  margin-bottom : 200px;
}

.table_data,th,td{
  border: 1px solid #999;
  padding: 8px 20px;
  font-size: 14px; 
}

.card{
  padding : 30px 30px;
  margin : 25px 40px;
  border-radius : 8px;
  box-shadow : 1px 2px 8px rgba(0,0,0,0.65);
}

.card-title{
  text-align : center;
}

.card form input,textarea{
  margin: 10px 0px;
}

.card form input{
  width: 400px;
}

.button-confirm{
  margin : 10px 0px;
  padding : 10px 10px;
  border-radius : 8px;
  background-color: #e81a2e;
  color: #f0e9e9;
  transition: all .3s;
}

.button-confirm:hover{
  cursor: pointer;
  background-color: #800505;
}

footer{
  background-color: #333;
  color : white;
  text-align : center;
  padding : 20px 40px;
}

.heart-icon{
  color: #fc3f5e;
  font-size: 15px;
}

.mytable{
  color : yellowgreen;
  border-collapse : collapse;
}

.mytable thead{
  border: 1px solid #999;
  padding: 8px 20px;
}

.btn{
  margin: 5px 5px;
}