<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Form input data</title>
</head>
<body>
    <form action='/event/kirim-data-event' enctype='multipart/form-data' method='post'>
        <label>Nama event : </label>
        <input type="text" name="nama_event">
        <label>Tempat : </label>
        <input type="text" name="tempat">
        <label>Tanggal : </label>
        <input type="date" name="tanggal">
        <label>Foto : </label>
        <input type="file" action="/upload" name="foto" id="foto">
        <label>nomor : </label>
        <input type="text" name="nomor">
        <label>email : </label>
        <input type="email" name="email">
        <label>website : </label>
        <input type="text" name="website">
        <label>Deskripsi : </label>
        <textarea cols="80" row="10" name="deskripsi"></textarea>
        <button type="submit">Oke</button>
    </form>
</body>
</html>