<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Form input data</title>
</head>
<body>
    <form action='/kirim' method='post'>
        <label>Nama tempat wisata : </label>
        <input type="text" name="nama_tempat_wisata">
        <label>Lokasi : </label>
        <input type="text" name="lokasi">
        <label>Harga : </label>
        <input type="text" name="harga">
        <label>Deskripsi : </label>
        <textarea cols="80" row="10" name="deskripsi"></textarea>
        <button type="submit">Oke</button>
    </form>
    </body>
</html>