<html>
    <head>
        <title>Edit Data Event</title>
        <link rel="stylesheet" href="./stylesheets/style.css">
    </head>
    <body>
        <header>
            <a href="/"><img src="./image_event/logo-ibis.png"></img></a>
        </header>
        <div class="card">
            <div class="card-title">
                <h2>Silahkan lakukan perubahan terhadap Event yang telah di pilih</h2>
            </div>
            {{#results}}
                <form action='/update/{{ id }}' method='post'>
                    <label>Nama event : </label></br>
                    <input type="text" name="nama_event"></br>
                    <label>Tempat : </label></br>
                    <input type="text" name="tempat"></br>
                    <label>Tanggal : </label></br>
                    <input type="text" name="tanggal"></br>
                    <label>Foto : </label></br>
                    <input type="file" name="urlimage"></br>
                    <label>nomor : </label></br>
                    <input type="text" name="nomor"></br>
                    <label>E-mail : </label></br>
                    <input type="email" name="email"></br>
                    <label>Website : </label></br>
                    <input type="text" name="website"></br>            
                    <label>Deskripsi : </label></br>
                    <textarea cols="80" rows="20" name="deskripsi"></textarea></br>
                    <button type="submit" class="button-confirm">update</button>
                </form>
            {{/results}}
        </div>
    </body>
    <footer>
        <div className="bottom-footer">
            <p>&copy; Ibis Hotel <span id="years"></span> Made by nogi with <span class="heart-icon">&hearts;</span></p> 
        </div>
    </footer>
    <script>
        let time = new Date();
        let years = time.getFullYear();
        document.getElementById("years").innerHTML = years;
    </script>
</html>