<html>
    <head>
        <title></title>
    </head>
    <body>
    {{#each results}}
        <p>{{ nama_tempat_wisata }}</p>
        <p>{{ lokasi }}</p>
        <p>{{ harga }}</p>
        <p>{{ deskripsi }}</p>
    {{/each}}
    </body>
</html>