<html lang="en">
    <head>
        <title>Selamat Datang di situs Admin Ibis Hotel Bandung</title>
        <link rel="stylesheet" href="./stylesheets/style.css">
    </head>
    <body>
        <header>
            <a href="/"><img src="./image_index/logo-ibis.png"></img></a>
        </header>
        <container>
            <h1 style="text-align : center;">Selamat Datang di website khusus Admin</h1>
            <div class="Item-menu">
                <h2>Tempat Wisata</h2>
                <div class="Item-column">
                    <div class="Item">
                        <a href="/tempat-wisata/tambah-data-wisata">
                            <img src="./image_index/document.png" class="item-image" alt="">
                            <h3>Input Data</h3>
                        </a>
                    </div>
                    <div class="Item">
                        <a href="/tempat-wisata/list">
                            <img src="./image_index/table.png" class="item-image" alt="">
                            <h3>Lihat Data</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="Item-menu">
                <h2>Event</h2>
                <div class="Item-column">
                    <div class="Item">
                        <a href="/event/tambah-data-event">
                            <img src="./image_index/document.png" class="item-image" alt="">
                            <h3>Input Data</h3>
                        </a>
                    </div>
                    <div class="Item">
                        <a href="/event/list">
                            <img src="./image_index/table.png" class="item-image" alt="">
                            <h3>Lihat Data</h3>
                        </a>
                    </div>
                </div>
            </div>
        </container>
        <footer>
            <div className="bottom-footer">
                <p>&copy; Ibis Hotel <span id="years"></span> Made by nogi with <span class="heart-icon">&hearts;</span></p> 
            </div>
        </footer>
        <script>
            let time = new Date();
            let years = time.getFullYear();
            document.getElementById("years").innerHTML = years;
        </script>
    </body>
</html>