<html>
    <head>
        <title></title>
    </head>
    <body>
    {{#results}}
        <form action='/update/{{ id }}' method='post'>
            <label>Nama tempat wisata : </label>
            <input type="text" name="nama_tempat_wisata">
            <label>Lokasi : </label>
            <input type="text" name="lokasi">
            <label>Harga : </label>
            <input type="text" name="harga">
            <label>URL Foto : </label>
            <input type="text" name="urlimage">
            <label>Deskripsi : </label>
            <textarea cols="80" row="10" name="deskripsi"></textarea>
            <button type="submit">update</button>
        </form>
    {{/results}}
    </body>
</html>