html{
    scroll-behavior: smooth;
}

body{
    margin:0px;
    font-family: 'Montserrat', sans-serif;
}

.signin-and-signup{
    display:grid;
    grid-template-columns: 40% auto;
    height:100%;
}
 
#bg-login{
    background-image: url("./img/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity:0.4;
    width:100%;
}

header{
    padding:20px 20px;
    text-align:center;
    border:1px solid gray;
    box-shadow: 0px 0px 5px 0px gray;
}

header a{
    display:inline-block;
    text-align:center;
}

header img{
    height:100px;
    width:100px;
    justify-self: center;
}

#login{
    padding:40px 40px;
    border:1px solid gray;
    border-radius:5%;
    justify-self: center;
    margin:80px auto;
    text-align: center;
    display: inline-block;
    background-color:white;
    width:30%;
}

#login label{
    display:block;
    text-align:center;
    margin:10px 0px;
}

#login input{
    display:block;
    text-align:left;
    margin:10px 0px;
    border:none;
    outline:none;
    width:100%;
}

#form-border{
    height:1px;
    width:100%;
    background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
}

.api-login{
    padding:10px 20px;
    border:1px solid gray;
    background-color: white;
    color:black;
    text-decoration:none;
    border-radius: 8%;
    transition:all .3s;
    display:block;
    margin:10px 0px;
}

#login .api-login:hover{
    background-color: #E6E6FA;
    border:1px solid #E6E6FA;
}

#login h4 a{
    color:#DC143C;
}
.button-signin-and-signup{
    width:100%;
    margin:20px 0px;
    padding:10px 20px;
    background-color:#DC143C;
    color:white;
    border:1px solid #DC143C;
    cursor: pointer;
    border-radius:5%;
    transition:all .3s;
}

.button-signin-and-signup:hover{
    background-color: rgba(172, 5, 38, 0.877);
}

.button-api-login{
    width:15px;
    height:15px;
    margin-right:10px;
}

.welcome{
    padding:20px 20px;
    text-align:center;
}

#daftar{
    padding:40px 40px;
    border:1px solid gray;
    border-radius:5%;
    justify-self: center;
    margin:150px 0px;
    text-align: center;
    display: inline-block;
    background-color:white;
    width:30%;
}

#daftar label{
    display:block;
    text-align:center;
    margin:10px 0px;
}

#daftar input{
    display:block;
    text-align:left;
    margin:10px 0px;
    border:none;
    outline:none;
    width:100%;
}

#form-border{
    height:1px;
    width:100%;
    background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
}

.col-descript-facility{
    display:grid;
    grid-template-rows:repeat(2,auto);
}

#review-facility{
    margin:0px 50px;
    text-align:center;
}

#slider{
    overflow:hidden;
    width:900px;
    height:675px;
    margin:50px 0px;
    justify-self:center;
}

#slider figure .slide{
    width:20%;
    height:100%;
    float:left;
}

#slider figure img{
    width:100%;
    height:100%;
    float:left;
}

#slider figure{
    position:relative;
    width:500%;
    margin:0;
    left:0;
    animation:25s slidy infinite;
}

.slide h1{
    text-align:center;
    margin-top:50px;
    margin-bottom:625px;
    margin-left:500px;
    margin-right:100px;
}
#building{
    width:100%;
    height:100%;
    float:left;
    color:white;
}

#breakfast{
    width:100%;
    height:100%;
    float:left;
    color:black;
}

#eatingroom{
    width:100%;
    height:100%;
    float:left;
}

#meetingroom{
    width:100%;
    height:100%;
    float:left;
    color:black;
}

#sleepingroom{
    width:100%;
    height:100%;
    float:left;
}

@keyframes slidy{
	0%{
		left: 0%
	}
 
	10%{
		left: 0%;
	}
 
	12%{
		left: -100%;
	}
 
	22%{
		left: -100%;
	}
 
	24%{
		left: -200%;
	}
 
	34%{
		left: -200%;
	}
 
	36%{
		left: -300%;
	}
 
	46%{
		left: -300%;
	}
 
	48%{
		left: -400%;
	}
 
	58%{
		left: -400%;
	}
 
	60%{
		left: -300%;
	}
 
	70%{
		left: -300%;
	}
 
	72%{
		left: -200%;
	}
 
	82%{
		left: -200%;
	}
 
	84%{
		left: -100%;
	}
 
	94%{
		left: -100%;
	}
 
	96%{
		left: 0%;
	}
 
	100%{
		left: 0%;
	}
}

#big-horizontal-border{
    height:1px;
    width:100%;
    margin:10px 0px;
    background-color:gray;
}

#col-fitur{
    display:grid;
    grid-template-columns:repeat(3,auto);
}

.fitur{
    box-shadow: 2px 4px 10px #706e69;
    background-color:white;
    margin:20px 20px;
    padding:20px 20px;
    text-align: center;
    border-radius: 5%;
    transition:all .3s;
}

.fitur a{
    text-decoration:none;
    color:black;
    display: block;
}

.fitur:hover {
    background-color: #F8F8FF;
    cursor:pointer;
    box-shadow: 2px 8px 22px rgba(17,26,104,.2);
}

.fitur a img{
    width:120px;
    height:120px;
    transition:all .3s;
}

footer{
    background-color: #333;
    display:grid;
    grid-template-rows:repeat(2,auto);
    margin-top:auto;
}

.bottom-footer{
    color:white;
    padding:10px 40px;
    text-align: center;
}

.top-footer{
    color:white;
    padding:10px 40px;
    text-align:center;
}

.top-footer a{
    color:white;
    text-decoration:none;
    transition:all .3s;
}

.top-footer a:hover{
    color:gray;
}

#mini-vertical-border{
    margin:0px 10px;
    height:20px;
    width:1px;
    border:1px solid white;
}

.middle-footer{
    display:grid;
    grid-template-columns:repeat(2,auto);
    grid-template-areas: 
    "left-footer"
    "right-footer";
}

#left-middle-footer{
    padding:0px 80px;
    text-align:left;
    color:white;
    display:grid;
    grid-area: "left-footer";
}

#left-middle-footer .maps{
    border-radius:8px;
    width:300px;
    height:200px;
    background-image: url('./img/map.png');
}


#left-middle-footer .maps a{
    height:30px;
    width: 120px;
    background-color:white;
    color: #e81022;
    border: 1px solid #e81022;
    border-radius: 8px;
    margin-top: 150px;
    margin-left: 20px;
    display: block;
    padding: auto 0px;
}

#left-middle-footer .maps a:hover{
    background-color: #e81022;
    color:white;
}

#left-middle-footer .maps a img{
    width:22px;
    height:22px;
}

#left-middle-footer a{
    text-decoration:none;
    color:white;
    transition:all .3s;
}

#left-middle-footer a:hover{
    color:gray;
}

#right-middle-footer{
    padding-left:450px;
    text-align:left;
    color:white;
    grid-area: "right-footer";
}

#right-middle-footer ul{
    padding: 100px 0px;
}

#right-middle-footer ul li{
    list-style-type: none;
}

#descript-contact{
    padding:0px 40px;
    text-align:center;
}

#contact{
    padding:20px 100px;
}

#contact input{
    margin:10px 0px;
    width:300px;
}

#contact textarea{
    margin:10px 0px;
    width:400px;
}

#contact button{
    padding:10px 10px;
    cursor:pointer;
    border-radius:8%;
    transition:all .3s;
    background-color: #00CED1;
    border:1px solid gray;
}
 
.item_list{
    padding: 0px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
}

.menu-contact{
    padding:40px 50px;
    display:grid;
    grid-template-columns:repeat(2,auto);
}

.menu-contact ul li{
    list-style-type: none;
}

#menu-sosmed{
    padding:20px 50px;
    text-align:center;
}

.menu-contact h3{
    margin-bottom:20px;
    margin-top:0px;
}

#menu-sosmed a img{
    width:50px;
    height:50px;
    margin:0px 10px;
}

.bg-paper{
    background-color:#e6f0e9;
    height:500px;
}

.request-list{
    background-color:white;
    height:400px;
    width:70%;
    padding:40px 30px;
    text-align:left;
    border:1px solid gray;
    box-shadow:1px 1px 1px 1px gray;
}

.request-list p{
    font-style:italic;
}

.request-list form{
    text-align:left;
    padding:10px 0px;
}

.request-list form input{
    margin:5px 20px;
}

#list-nama-barang{
    padding:10px 0px;
    text-align:left;
}

#list-nama-barang input{
    margin:5px 20px;
}

.button-barang{
    padding:5px 10px;
    margin:15px 20px;
    color:#39394d;
    background-color: #ebebf2;
    border:1px solid #ebebf2;
    box-shadow:1px 1px 1px 1px gray;
    cursor:pointer;
    border-radius:8%;
    transition:all .3s;
}

.button-barang:visited{
    border:1px solid #ebebf2;
}

.button-barang:hover{
    background-color: #fafafc;
}

.button-barang:active{
    background-color: #ebebf2;
    border:1px solid #ebebf2;
}

.item_page{
    padding: 30px 30px;
}

/*untuk meeting paket*/
.slider{
    display: flex;
    width: 800px;
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 10px;
}

.slides{
    width: 300%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.sliding{
    width: 800px;
    transition: 2s;
}

.sliding img{
    width: 800px;
    height: 500px;
}

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: 480px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #e81022;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right:40px;
}

.manual-btn:hover{
    background-color: #e81022;
}

#radio1:checked ~ .first{
    margin-left:0;
}

#radio2:checked ~ .first{
    margin-left:-800px;
}

#radio3:checked ~ .first{
    margin-left:-1600px;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 480px;
}

.navigation-auto div{
    border: 2px solid #e81022;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #e81022;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #e81022;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #e81022;
}

/*untuk home*/
.slider-home{
    display: flex;
    width: 800px;
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 10px;
}

.slides-home{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides-home input{
    display: none;
}

.sliding-home{
    width: 800px;
    transition: 2s;
}

.sliding-home img{
    width: 800px;
    height: 500px;
}

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: 480px;
    display: flex;
    justify-content: center;
}

.manual-bg{
    border: 2px solid #e81022;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-bg:not(:last-child){
    margin-right:40px;
}

.manual-bg:hover{
    background-color: #e81022;
}

#bg1:checked ~ .first{
    margin-left:0;
}

#bg2:checked ~ .first{
    margin-left:-800px;
}

#bg3:checked ~ .first{
    margin-left:-1600px;
}

#bg4:checked ~ .first{
    margin-left:-2400px;
}

#bg5:checked ~ .first{
    margin-left:-3200px;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 480px;
}

.navigation-auto div{
    border: 2px solid #e81022;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#bg1:checked ~ .navigation-auto .auto-bg1{
    background-color: #e81022;
}

#bg2:checked ~ .navigation-auto .auto-bg2{
    background-color: #e81022;
}

#bg3:checked ~ .navigation-auto .auto-bg3{
    background-color: #e81022;
}

#bg4:checked ~ .navigation-auto .auto-bg4{
    background-color: #e81022;
}

#bg5:checked ~ .navigation-auto .auto-bg5{
    background-color: #e81022;
}
/*
#Bg-meeting{
    background-image: url(./img/bg/meeting1.jpg);
    background-size: 100%;
    animation-name: mymove;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@-webkit-keyframes mymove {
    0% { background-image: url(./img/bg/meeting1.jpg); animation-delay: 3s; }
    50% { background-image: url(./img/bg/meeting2.jpg); animation-delay: 3s; }
    100% { background-image: url(./img/bg/meetingroom.jpg); animation-delay: 3s; }
}

@-moz-keyframes mymove {
    0% { background-image: url(./img/bg/meeting1.jpg); animation-delay: 3s; }
    100% { background-image: url(./img/bg/meetingroom.jpg); animation-delay: 3s; }
    50% { background-image: url(./img/bg/meeting2.jpg); animation-delay: 3s; }
}

@keyframes mymove {
    0% { background-image: url(./img/bg/meeting1.jpg); animation-delay: 3s; }
    50% { background-image: url(./img/bg/meeting2.jpg); animation-delay: 3s; }
    100% { background-image: url(./img/bg/meetingroom.jpg); animation-delay: 3s; }
}
*/
.margin-icon{
    margin: 0px 10px;
}

.item_page h1{
    text-align: center;
    font-size: 28px;
}

.item_page .item_list li{
    list-style-type: none;
    display: grid;
    margin: 0px 0px;
    padding: 20px 50px;
    text-decoration: none;
}   

.item_page ul li a{
    padding: 10px 10px;
    margin: 20px 0px;
    text-decoration: none;
    background-color: white;
    transition: all .3s;
}

.item_page ul li .link-item{
    padding: 10px 30px;
    margin: 20px 0px;
    border: 1px solid black;
    border-radius: 8px;
    text-decoration: none;
    background-color: white;
    color: black;
    transition: all .3s;
}

.item_page ul li .link-item:hover{
    box-shadow: 1px 2px 2px 1px black;
    background-color: white;
}

.facility-meeting{
    padding:0px;
    color: black;
}

.item_meeting_list .item_meeting{
    list-style-type: none;
    display: grid;
    margin: 0px 0px;
    padding: 20px 50px;
}

.item h3{
    color: black;
    font-size: 24px;
}

.item_page .item_meeting .link-item {
    padding: 10px 30px;
    margin: 20px 0px;
    box-shadow: 0px 4px 10px #706e69;
    border-radius: 8px;
    text-decoration: none;
    background-color: white;
    color: black;
    transition: all .3s;
}

.item_page .item_meeting .link-item:hover{
    box-shadow: 2px 8px 22px rgba(17,26,104,.2);
    background-color: white;
    cursor: pointer;
}

#Title-meeting h3{
    font-size: 22px;
    font-weight: 600;
}

#Title-meeting p{
    margin:0;
    text-align: center;
    color: #ebc41a;
    font-weight: 700;
    font-size: 26px;
}

#Title-meeting .main-price{
    font-size: 16px;
}

#Title-meeting .coret-price{
    display: block;
    font-size: 16px;
    text-align: center;
    color: #ebc41a;
}

.item_meeting_list{
    padding: 0px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
}

.item_meeting_list .facility-meeting li:before{
    content: '✓';
    color: #39cdfa;
    font-weight: 700;
    margin:0 5px;
}

.item_meeting_list .facility-meeting li{
    list-style-type: none;
    color: #747b7f;
}

.item_page ul li a:hover{
    background-color: #e6ebe7;
}

.item_page ul li .list-image-item{
    display: block;
    margin: 10px auto;
    height: 250px;
    width: 250px;
}

.daftar-paket-meeting{
    padding:5px 10px;
    margin:15px 20px;
    color:white;
    background-color: #e81022;
    cursor:pointer;
    border-radius:8px;
    transition:all .3s;
}

.daftar-paket-meeting:hover{
    text-decoration: none;
    color: #e81022;
    background-color: white;
    border: 1px solid black;
}

.title-list-shimmer{
    padding:0px 400px;
}

#Promo-and-wisata{
    color: black;
}

.title-item-page h3{
    color: #454442;
    font-weight: 700;
}

#For-meeting-package{
    color:#4f4b41;
}

#For-meeting-package ul h3{
    font-weight:600;
    font-size: 24px;
    text-align:left;
}

#For-meeting-package #menu-sosmed h3{
    text-align: center;
    font-weight:600;
    font-size: 24px;  
}

#For-meeting-package ul li{
    font-weight: 600;
}

.title-and-date{
    padding:0px;
}

.item_page ul li .item{
    display: block;
    color: black;
    margin: 0px auto;
    padding: 0px 0px;
}

.link-item .deskripsi{
    display: inline-block;
    color: black;
    margin: 0;
}

.deskripsi-date{
    margin: 10px 0px;
}
.deskripsi p{
    text-align: justify;
    margin: 0;
}

.About{
    display:grid;
    grid-template-columns: 30% auto;
    margin-bottom: 120px;
}

.spesification{
    justify-self: center;
    display:grid;
    grid-template-rows:repeat(3,auto);
}

.built-years{
    border: 1px solid #9c9a97;
    padding : 20px 40px;
    margin : 20px 40px;
    transition: all .3s;
}

.built-years:hover{
    box-shadow: 1px 3px 3px 1px black;
}

.bedroom{
    border : 1px solid #9c9a97;
    padding : 20px 40px;
    margin : 20px 40px;
    transition: all .3s;
}

.bedroom:hover{
    box-shadow: 1px 3px 3px 1px black;
}

.bedroom img{
    width: 50px;
    height: 50px;
    margin: 0px 20px;
}

.facility{
    border:1px solid #9c9a97;
    display:grid;
    grid-template-columns:15% auto;
    padding : 20px 40px;
    margin : 20px 40px;
    transition : all .3s;
}

.facility:hover{
    box-shadow: 1px 3px 3px 1px black;
}

.img-facility img{
    width: 30px;
    height: 30px;
    display: block;
    margin-top: 10px;
    margin-left:10px;
    margin-right:0px;
}

.descript-facility span{
    display: block;
    margin: 15px 10px;
}
 
.info-hotel{
    border: 1px solid #9c9a97;
    padding: 20px 20px;
    transition: all .3s;
    margin: 20px 15px;
}

.info-hotel:hover{
    box-shadow: 1px 3px 3px 1px black;
}

.Item-styling{
    padding: 20px 40px;
} 

.Item-styling h1,h2,h3,h5{
    text-align: center;
}

.Item-styling img{
    width: 600px;
    height: 700px;
    margin: 20px 0px;
}

.update{
    text-align: center;
}

.img-and-facility{
    display: grid;
}

.note-promotion{
    margin-top: 25px;
}

.note-promotion img{
    height:20px;
    width:20px;
    margin:0;
    float:left;
}

.note-promotion span{
    float:left;
}

.note-promotion .arrow_down{
    float: right;
}

.note-promotion button{
    padding-right: 5px;
    width: 450px;
    border-radius: 8px;
    background-color: #f2faed;
}

#Location-Item{
    display: grid;
    grid-template-columns: repeat(3,auto);
}

#Img-Item{
    justify-self: center;
    width: 600px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Img-Item .loading{
    height: 100px;
    width: 100px;
}

.rendering-description{
    white-space: pre-line;
}

.lokasi-item{
    text-align: center;
    width:250px;
    height:100px;
    border-radius: 8px;
    padding:20px 10px;
    margin:30px 0px;
}

.lokasi-item img{
    width:25px;
    height:25px;
    margin:0px 30px;
}

.lokasi-item span{
    display:block;
}

#Lokasi{
    background-color: #c28204;
    grid-area: "lokasi";
}

#Tanggal{
    background-color: #7df0d1;
    grid-area: "tanggal";
}

#Waktu{
    background-color: #49afeb;
    grid-area: "waktu";
}

#Harga{
    background-color: #ff8308;
    grid-area: "harga";
}

#Map{
    background-color: #e6ebe8;
    grid-area: "map";
}

#Email{
    background-color: #85de88;
    grid-area: "email";
}

#Nomor{
    background-color: #fcd703;
    grid-area: "nomor";
}

@media screen and (max-width: 1024px){
    .bedroom img{
        margin: 0px 60px;
    }

    .img-facility img{
        margin-top: 14px;
    }

    .note_promotion .dropbtn{
        margin: 0px 10px;
    }
    .note-promotion .arrow_down {
        float: right;
        margin: 0px 5px;
    }

    #right-middle-footer{
        padding-left: 300px;
    }

    .descript-facility{
        padding: 0px 15px;
    }

    .descript-facility span{
        display:block;
        margin: 12px 10px;
    }

    .item_page .item_list li{
        list-style-type: none;
        display: grid;
        margin: 0px 0px;
        padding: 20px 10px;
        text-decoration: none;
    }

    .item_page ul li .link-item {
        padding: 10px 10px;
        margin: 20px 0px;
        border: 1px solid #6b6766;
        border-radius: 8px;
        text-decoration: none;
        background-color: white;
        transition: all .3s;
    }

    .item_list{
        padding:0px;
    }   

    .Item-styling h1{
        font-size: 30px;
    }

    .Item-styling .image-item{
        margin: 20px 20px;
    }

    .lokasi-item{
        width: 200px;
        height: 150px;
        margin: 15px 0px;
    }
}

@media only screen and (max-width: 768px){
    header{
        width: 100%;
    }

    .col-descript-facility{
        width: 100%;
    }

    #review-facility{
        margin:0px 0px;
    }

    #review-facility h1{
        font-size: 16px;
    }

    #slider{
        overflow:hidden;
        width:100%;
        height:600px;
        margin:50px 0px;
        justify-self:center;
    }
    
    #slider figure .slide{
        width:20%;
        height:100%;
        float:left;
    }
    
    #slider figure img{
        width:100%;
        height:100%;
        float:left;
    }
    
    #slider figure{
        position:relative;
        width:500%;
        margin:0;
        left:0;
        animation:25s slidy infinite;
    }
    
    .slide h1{
        text-align:center;
        margin-top:50px;
        margin-bottom:625px;
        margin-left:500px;
        margin-right:100px;
    }

    .fitur a h3{
        font-size: 16px;
    }

    .fitur a p{
        font-size: 13px;
    }

    footer{
        font-size: 13px;
    }

    #left-middle-footer .maps{
        height: 180px;
        width: 250px;
    }

    #left-middle-footer .maps a{
        width: 100px;
        vertical-align:center;
        margin-top: 120px;
    }

    #left-middle-footer .maps a img{
        width: 20px;
        height: 20px;
    }
    #right-middle-footer{
        padding-left:100px;
        text-align:left;
        vertical-align:center;
        color:white;
    }

    .Item-styling h1,h2,h3{
        font-size: 24px;
    }

    .item_page ul li .shimmer-list-img{
        width: 120px;
        height: 120px;
    }

    .item_page ul li .item h3{
        font-size: 16px;
    }

    .item_page ul li .item p{
        font-size: 12px;
    }

    .deskripsi span{
        font-size: 12px;
    }

    .deskripsi p{
        font-size: 12px;
    }

    .About{
        display:grid;
        grid-template-columns: 30% auto;
        margin-bottom: 120px;
    }

    .built-years{
        margin: 20px 20px;
        padding: 20px 20px;
    }

    .built-years h4{
        font-size: 16px;
    }

    .facility{
        border:1px solid #9c9a97;
        display:grid;
        grid-template-columns:15% auto;
        padding : 20px 20px;
        margin : 20px 20px;
        transition : all .3s;
    }

    .item_list{
        padding:0px;
    }
    
    #Promo-and-wisata{
        font-size: 20px;
    }

    .item_page ul li .list-image-item{
        height:150px;
        width:150px;
    }

    .img-facility img{
        width: 20px;
        height: 20px;
        display: block;
        margin-top: 10px;
        margin-left:0px;
        margin-right:0px;
    
    }

    .descript-facility{
        padding:0px 10px;
    }

    .descript-facility span{
        display: block;
        margin: 15px 5px;
        font-size: 10px;
    }

    .img-and-facility{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(2,auto);
        grid-template-areas: 
            "img-item"
            "location-item";
    }

    .Item-styling{
        padding: 0px auto;
    }

    .Item-styling img{
        justify-self: center;
    }

    #Location-Item{
        display: grid;
        grid-template-columns:repeat(3,auto);
        grid-auto-rows: repeat(3,auto);
    }

    .bedroom{
        border : 1px solid #9c9a97;
        padding : 20px 20px;
        margin : 20px 20px;
        transition: all .3s;
    }

    .item_page .item_meeting .link-item {
        padding: 10px 10px;
        margin: 20px 0px;
    }

    #For-meeting-package ul h3{
        font-size: 16px;
        text-align: center;
    }

    #For-meeting-package ul li {
        font-size: 14px;
    }

    #For-meeting-package #menu-sosmed h3{
        font-size: 16px;
    }

    .item_meeting_list .item_meeting {
        list-style-type: none;
        display: grid;
        margin: 0px 0px;
        padding: 20px 20px;
    }

    #Title-meeting h3{
        font-size: 18px;
    }

    #Title-meeting p{
        font-size: 16px;
    }
    
    #Title-meeting .coret-price{
        font-size: 12px;
    }

    .item_meeting_list .facility-meeting li{
        font-size: 12px;
    }

    /* untuk home */
    .slider-home{
        width: 400px;
        height: 300px;
    }

    .slides-home{
        height: 300px;
    }

    .sliding-home{
        width: 400px;
    }

    .sliding-home img{
        width: 400px;
        height: 300px;
    }

    .navigation-auto{
        width: 400px;
        margin-top: 270px;
    }

    .navigation-auto div:not(:last-child){
        margin-right: 10px;
    }

    .navigation-manual{
        width: 400px;
        margin-top: 270px;
    }

    .manual-bg:not(:last-child){
        margin-right: 10px;
    }

    .navigation-auto div {
        border: 1px solid #e81022;
    }

    .manual-bg{
        border: 1px solid #e81022;
    }

    #bg1:checked ~ .first{
        margin-left:0;
    }
    
    #bg2:checked ~ .first{
        margin-left:-400px;
    }
    
    #bg3:checked ~ .first{
        margin-left:-800px;
    }
    
    #bg4:checked ~ .first{
        margin-left:-1200px;
    }
    
    #bg5:checked ~ .first{
        margin-left:-1600px;
    }

    /*untuk paket meeting*/
    .slider{
        display: flex;
        width: 400px;
        height: 300px;
        overflow: hidden;
        margin: 0 auto;
        border-radius: 10px;
    }
    
    .slides{
        width: 300%;
        height: 300px;
        display: flex;
    }
    
    .slides input{
        display: none;
    }
    
    .sliding{
        width: 400px;
        transition: 2s;
    }
    
    .sliding img{
        width: 400px;
        height: 300px;
    }
    
    .navigation-manual{
        position: absolute;
        width: 400px;
        margin-top: 270px;
        display: flex;
        justify-content: center;
    }
    
    .manual-btn{
        border: 2px solid #e81022;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }
    
    .manual-btn:not(:last-child){
        margin-right:10px;
    }
    
    .manual-btn:hover{
        background-color: #e81022;
    }
    
    #radio1:checked ~ .first{
        margin-left:0;
    }
    
    #radio2:checked ~ .first{
        margin-left:-400px;
    }
    
    #radio3:checked ~ .first{
        margin-left:-800px;
    }
    
    .navigation-auto{
        position: absolute;
        display: flex;
        width: 400px;
        justify-content: center;
        margin-top: 270px;
    }
    
    .navigation-auto div{
        border: 2px solid #e81022;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
    }
    
    .navigation-auto div:not(:last-child){
        margin-right: 10px;
    }
    
    #radio1:checked ~ .navigation-auto .auto-btn1{
        background-color: #e81022;
    }
    
    #radio2:checked ~ .navigation-auto .auto-btn2{
        background-color: #e81022;
    }
    
    #radio3:checked ~ .navigation-auto .auto-btn3{
        background-color: #e81022;
    }

    /*untuk meeting paket*/
    
    .bedroom:hover{
        box-shadow: 1px 3px 3px 1px black;
    }
    
    .bedroom img{
        width: 50px;
        height: 50px;
        margin: 0px 40px;
    }
    
    .info-hotel{
        padding: 20px 20px;
        margin: 20px 5px;
    }

    .info-hotel{
        font-size: 12px;
    }

    .Item-styling h3{
        font-size: 24px;
    }

    .lokasi-item{
        width: 150px;
        height: 100px;
        margin:20px 30px;
        padding: 20px 10px;
        font-size: 12px;
    }

    .lokasi-item img{
        width: 20px;
        height: 20px;
        margin: 0px 20px;
    }
}

@media screen and (max-width: 692px){
    .fitur h3{
        font-size: 22px;
    }

    .fitur p{
        font-size: 12px;
    }

    #review-facility h1{
        font-size: 28px;
        margin:10px 30px;
    }

    #slider{
        overflow:hidden;
        width:65%;
        height:380px;
        margin:50px 20px;
        justify-self:center;
    }

    footer{
        font-size: 12px;
    }

    footer #right-middle-footer{
        padding-left: 0px;
    }

    footer #right-middle-footer ul{
        padding-left: 0px;
    }

    .menu-contact h3{
        font-size: 15px;
    }

    /* untuk home */
    .slider-home{
        width: 400px;
        height: 300px;
    }

    .slides-home{
        height: 300px;
    }

    .sliding-home{
        width: 400px;
    }

    .sliding-home img{
        width: 400px;
        height: 300px;
    }

    .navigation-auto{
        width: 400px;
        margin-top: 270px;
    }

    .navigation-auto div:not(:last-child){
        margin-right: 10px;
    }

    .navigation-manual{
        width: 400px;
        margin-top: 270px;
    }

    .manual-bg:not(:last-child){
        margin-right: 10px;
    }

    .navigation-auto div {
        border: 1px solid #e81022;
    }

    .manual-bg{
        border: 1px solid #e81022;
    }

    #bg1:checked ~ .first{
        margin-left:0;
    }
    
    #bg2:checked ~ .first{
        margin-left:-400px;
    }
    
    #bg3:checked ~ .first{
        margin-left:-800px;
    }
    
    #bg4:checked ~ .first{
        margin-left:-1200px;
    }
    
    #bg5:checked ~ .first{
        margin-left:-1600px;
    }

    .menu-contact p{
        font-size: 14px;
    }

    .menu-contact ul{
        padding: 0px;
    }

    .menu-contact #menu-sosmed{
        padding: 0px 50px;
    }

    .info-hotel{
        margin: 20px 10px;
    }

    .info-hotel p{
        font-size: 14px;
    }

    .built-years h4{
        font-size: 18px;
    }

    .bedroom span{
        font-size: 18px;
    }

    .facility{
        border:1px solid #9c9a97;
        display:grid;
        grid-template-columns:15% auto;
        padding : 20px 10px;
        margin : 20px 20px;
        transition : all .3s;
    }

    .img-facility img{
        width: 30px;
        height: 30px;
        display: block;
        margin-top: 10px;
        margin-left:0px;
        margin-right:0px;
    }

    .descript-facility span{
        display:block;
        margin: 20px 5px;
        font-size: 12px;
    }

    .item_page ul li .item h3 {
        margin: 5px auto;
    }

    .item_page ul li .list-image-item{
        display: block;
        margin:5px auto;
    }

    .item_page ul li .item{
        display:block;
        color: black;
        padding: 10px 0px;
        margin:0 auto;
    }

    .item h3,p{
        margin:0px;
    }

    .item_list{
        padding:0px;
    }
}

@media only screen and (max-width:425px){
    .alert{
        font-size: 12px;
    }

    .welcome h3{
        font-size: 22px;
    }

    #review-facility h1{
        font-size: 14px;
    }

    #slider{
        overflow:hidden;
        width:65%;
        height:200px;
        margin:50px 20px;
        justify-self:center;
    }

    .item_meeting_list {
        padding: 0px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 33% 33% 33%;
    }

    /*Page home*/
    .slider-home{
        width: 400px;
        height: 300px;
    }

    .slides-home{
        height: 300px;
    }

    .sliding-home{
        width: 400px;
    }

    .sliding-home img{
        width: 400px;
        height: 300px;
    }

    .navigation-auto{
        width: 400px;
        margin-top: 270px;
    }

    .navigation-auto div:not(:last-child){
        margin-right: 10px;
    }

    .navigation-manual{
        width: 400px;
        margin-top: 270px;
    }

    .manual-bg:not(:last-child){
        margin-right: 10px;
    }

    .navigation-auto div {
        border: 2px solid #e81022;
    }

    .manual-bg{
        border: 2px solid #e81022;
    }

    #bg1:checked ~ .first{
        margin-left:0;
    }
    
    #bg2:checked ~ .first{
        margin-left:-400px;
    }
    
    #bg3:checked ~ .first{
        margin-left:-800px;
    }
    
    #bg4:checked ~ .first{
        margin-left:-1200px;
    }
    
    #bg5:checked ~ .first{
        margin-left:-1600px;
    }

    /*untuk meeting*/
    .slider{
        display: flex;
        width: 400px;
        height: 300px;
        overflow: hidden;
        margin: 0 auto;
        border-radius: 10px;
    }
    
    .slides{
        width: 300%;
        height: 300px;
        display: flex;
    }
    
    .slides input{
        display: none;
    }
    
    .sliding{
        width: 400px;
        transition: 2s;
    }
    
    .sliding img{
        width: 400px;
        height: 300px;
    }
    
    .navigation-manual{
        position: absolute;
        width: 400px;
        margin-top: 270px;
        display: flex;
        justify-content: center;
    }
    
    .manual-btn{
        border: 2px solid #e81022;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }
    
    .manual-btn:not(:last-child){
        margin-right:10px;
    }
    
    .manual-btn:hover{
        background-color: #e81022;
    }
    
    #radio1:checked ~ .first{
        margin-left:0;
    }
    
    #radio2:checked ~ .first{
        margin-left:-400px;
    }
    
    #radio3:checked ~ .first{
        margin-left:-800px;
    }
    
    .navigation-auto{
        position: absolute;
        display: flex;
        width: 400px;
        justify-content: center;
        margin-top: 270px;
    }
    
    .navigation-auto div{
        border: 2px solid #e81022;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
    }
    
    .navigation-auto div:not(:last-child){
        margin-right: 10px;
    }
    
    #radio1:checked ~ .navigation-auto .auto-btn1{
        background-color: #e81022;
    }
    
    #radio2:checked ~ .navigation-auto .auto-btn2{
        background-color: #e81022;
    }
    
    #radio3:checked ~ .navigation-auto .auto-btn3{
        background-color: #e81022;
    }
    /*end*/
    .fitur p{
        font-size: 10px;
    }

    .fitur h3{
        font-size : 14px;
    }

    .fitur a h3{
        font-size: 14px;
        font-weight: bold;
    }

    #col-fitur{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3,auto);
    }

    #left-middle-footer{
        padding: 0px 0px;
        justify-self: center;
        text-align: center;
    }

    #right-middle-footer{
        padding-left: 0px;
    }

    #right-middle-footer ul {
        text-align: center;
        margin-right:0px;
    }

    #descript-contact h3{
        font-size: 14px;
        font-weight: bold;
    }

    #descript-contact p{
        font-size: 12px;
    }

    #contact label{
        font-size: 12px;
    }

    #contact input{
        font-size:12px;
        width: 300px;
        height: 20px;
    }

    #contact textarea{
        font-size:12px;
        width: 240px;
        height: 100px;
    }

    #contact form button{
        font-size:12px;
    }

    .menu-contact{
        padding:40px 10px;
    }

    .item_page {
        padding: 30px 10px;
    }

    #For-meeting-package ul h3{
        font-size: 14px;
    }

    #For-meeting-package #menu-sosmed h3{
        font-size: 14px;
    }

    .menu-contact #menu-sosmed {
        padding: 0px 20px;
    }

    .menu-contact ul h3{
        font-size:12px;
    }

    .menu-contact p{
        font-size: 10px;
    }

    #menu-sosmed h3{
        font-size:12px;
    }

    #menu-sosmed a img{
        width: 22%;
        height: 22%;
        margin:0px 5px;
    }

    .item_meeting_list .item_meeting{
        padding: 20px 50px;
    }

    .menu-contact {
        padding: 40px 0px;
    }

    .tentang_kami{
        font-size: 14px;
    }

    .spesification{
        grid-area: "specification";
        display:grid;
        grid-template-rows:repeat(3,auto);
        width: 40%;
    }
    
    .built-years h4,span{
        font-size: 11px;
    }

    .info-hotel{
        grid-area: "info-hotel";
        margin: 10px 10px;
    }

    .info-hotel p{
        font-size: 10px;
    }

    .info-hotel h3{
        font-size: 14px;
        font-weight: bold;
    }

    .bedroom span{
        font-size: 11px;
    }

    .descript-facility span{
        font-size: 10px;
        margin: 12px 5px;
    }

    .img-facility img{
        width: 23px;
        height: 23px;
    }

    .built-years{
        padding: 10px 6px;
        margin:10px 10px;
        width: 70%;
        height: 65%;
        text-align: center;
    }

    .bedroom{
        padding:10px 6px;
        margin:10px 10px;
        width: 70%;
        height: 80%;
        text-align: center;
    }

    .bedroom img{
        margin: 0px 0px;
        justify-content: center;
    }

    .bedroom span{
        display: block;
    }

    .facility{
        padding:10px 10px;
        margin:10px 10px;
        width: 70%;
        height: 85%;
    }

    .fitur{
        margin: 20px 60px;
    }

    #left-middle-footer .maps{
        height: 120px;
        width: 180px;
    }

    #left-middle-footer .maps a img{
        width: 18px;
        height: 18px;
    }

    #left-middle-footer .maps a{
        margin-top: 80px;
        width: 80px;
        height: 20px;
        font-size: 10px;
    }


    .About{
        display: grid;
        grid-template-columns: auto;
    }

    .Item-styling h1{
        font-size: 16px;
    }

    .item_page h3{
        font-size: 22px;
    }

    .item_page ul li a{
        text-align: center;
    }

    .item_page ul li .item{
        margin:10px 10px;
        padding:0px;
        grid-area: "item";
    }

    .item h3{
        font-size: 22px;
    }

    .deskripsi p{
        font-size: 12px;
        text-align: justify;
    }

    .item_page ul li .list-image-item{
        display:block;
        margin:0px auto;
        height: 390px;
        width: 275px;
    }

    .img-and-facility{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(2,auto);
        grid-template-areas: 
            "img-item"
            "location-item";
    }

    .Item-styling .image-item{
        width: 350px;
        height: 496px;
        margin: 0px;
    }

    .note-promotion button{
        width: 350px;
    }

    .Item-styling h2{
        font-size: 16px;
    }

    .Item-styling h3{
        font-size: 16px;
        margin:0px;
    }

    .item_list{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(6,auto);
        padding:0px;
    }

    .Item-styling p{
        font-size: 12px;
        margin: 10px 0px;
    }

    .middle-footer {
        display: grid;
        grid-template-columns: auto;
    }

    #Img-Item{
        justify-self: center;
        width: 330px;
        height: 550px;
    }
    
    #Img-Item .loading{
        height: 50px;
        width: 50px;
    }

    #Location-Item{
        justify-self: center;
        display:grid;
        grid-template-rows: repeat(4,auto);
        grid-template-columns: repeat(2,auto);
    }

    .lokasi-item{
        width: 120px;
        height: 90px;
        margin: 10px 10px;
        padding: 10px 10px;
    }

    .lokasi-item img{
        width: 25px;
        height: 25px;
        margin:0px;
    }
}

@media only screen and (max-width: 375px){
    .fitur{
        margin: 20px 40px;
    }

    .fitur a img {
        width: 100px;
        height: 100px;
    }

    .fitur a p{
        font-size: 10px;
    }

    #Img-Item{
        justify-self: center;
        width: 270px;
        height: 330px;
    }

    .welcome {
        padding: 5px 20px;
        text-align: center;
    }

    #review-facility {
        margin: 20px 0px;
    }

    /* Untuk slider home */
    .slider-home{
        width: 300px;
        height: 200px;
    }

    .slides-home{
        height: 200px;
    }

    .sliding-home{
        width: 300px;
    }

    .sliding-home img{
        width: 300px;
        height: 200px;
    }

    .navigation-auto{
        width: 300px;
        margin-top: 180px;
    }

    .navigation-auto div:not(:last-child){
        margin-right: 10px;
    }

    .navigation-manual{
        width: 300px;
        margin-top: 180px;
    }

    .manual-bg:not(:last-child){
        margin-right: 10px;
    }

    .navigation-auto div {
        border: 2px solid #e81022;
    }

    .manual-bg{
        border: 2px solid #e81022;
    }

    #bg1:checked ~ .first{
        margin-left:0;
    }
    
    #bg2:checked ~ .first{
        margin-left:-300px;
    }
    
    #bg3:checked ~ .first{
        margin-left:-600px;
    }
    
    #bg4:checked ~ .first{
        margin-left:-900px;
    }
    
    #bg5:checked ~ .first{
        margin-left:-1200px;
    }

    .navigation-manual{
        position: absolute;
        width: 300px;
        margin-top: 180px;
        display: flex;
        justify-content: center;
    }
    
    .manual-btn{
        border: 2px solid #e81022;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }

    /*untuk meeting*/
    .slider{
        display: flex;
        width: 300px;
        height: 200px;
        overflow: hidden;
        margin: 0 auto;
        border-radius: 10px;
    }
    
    .slides{
        width: 300%;
        height: 200px;
        display: flex;
    }
    
    .slides input{
        display: none;
    }
    
    .sliding{
        width: 300px;
        transition: 2s;
    }
    
    .sliding img{
        width: 300px;
        height: 200px;
    }
    
    .manual-btn{
        border: 2px solid #e81022;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }
    
    .manual-btn:not(:last-child){
        margin-right:10px;
    }
    
    .manual-btn:hover{
        background-color: #e81022;
    }
    
    #radio1:checked ~ .first{
        margin-left:0;
    }
    
    #radio2:checked ~ .first{
        margin-left:-300px;
    }
    
    #radio3:checked ~ .first{
        margin-left:-600px;
    }
    
    #radio1:checked ~ .navigation-auto .auto-btn1{
        background-color: #e81022;
    }
    
    #radio2:checked ~ .navigation-auto .auto-btn2{
        background-color: #e81022;
    }
    
    #radio3:checked ~ .navigation-auto .auto-btn3{
        background-color: #e81022;
    }
    /*end*/

    footer p{
        font-size: 10px;
    }

    #contact{
        padding: 20px 80px;
    }

    .item_list{
        padding:0px;
    }

    .Item-styling #Img-Item .image-item{
        width: 270px;
        height: 300px;
        margin: 0px;
    }

    .item_page ul li .list-image-item{
        width: 240px;
        height: 160px;
    }

    .note-promotion button {
        width: 280px;
    }

    .menu-contact #menu-sosmed{
        padding:0px 30px;
    }

    #right-middle-footer ul {
        padding:20px 0px;
    }

    #left-middle-footer .maps{
        background-image: url('./img/map2.png');
    }
}

@media only screen and (max-width:320px){
    #slider{
        width: 75%;
        height: 200px;
        margin: 20px 20px;
    }
    .fitur{
        margin: 30px 30px;
        padding: 15px 5px;
    }
    
    .slider-home{
        width: 300px;
        height: 200px;
    }

    .slides-home{
        height: 200px;
    }

    .sliding-home{
        width: 300px;
    }

    .sliding-home img{
        width: 300px;
        height: 200px;
    }

    .navigation-auto{
        width: 300px;
        margin-top: 180px;
    }

    .navigation-auto div:not(:last-child){
        margin-right: 10px;
    }

    .navigation-manual{
        width: 300px;
        margin-top: 180px;
    }

    .manual-bg:not(:last-child){
        margin-right: 10px;
    }

    .navigation-auto div {
        border: 2px solid #e81022;
    }
    .manual-bg{
        border: 2px solid #e81022;
    }

    #bg1:checked ~ .first{
        margin-left:0;
    }
    
    #bg2:checked ~ .first{
        margin-left:-300px;
    }
    
    #bg3:checked ~ .first{
        margin-left:-600px;
    }
    
    #bg4:checked ~ .first{
        margin-left:-900px;
    }
    
    #bg5:checked ~ .first{
        margin-left:-1200px;
    }

    .fitur a img{
        width: 80px;
        height: 80px;
    }

    #contact{
        padding: 20px 50px;
    }

    .item_page h3 {
        font-size: 16px;
    }

    .menu-contact #menu-sosmed{
        padding:0px 10px;
    }

    .Item-styling #Img-Item .image-item{
        width: 250px;
        height: 300px;
        margin: 0px;
    }

    .item_page ul li .list-image-item{
        width: 200px;
        height: 160px;
    }

    .item_list{
        padding:0px;
    }

    .Item-styling{
        padding: 10px 10px;
    }

    .Item-styling h2{
        font-size: 14px;
    }
}