html{
    scroll-behavior: smooth;
}

body{
    margin:0px;
    font-family: 'Montserrat', sans-serif;
}

.signin-and-signup{
    display:grid;
    grid-template-columns: 40% auto;
    height:100%;
}
 
#bg-login{
    background-image: url("./img/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity:0.4;
    width:100%;
}

header{
    padding:20px 20px;
    text-align:center;
    border:1px solid gray;
    box-shadow: 0px 0px 5px 0px gray;
}

header a{
    display:inline-block;
    text-align:center;
}

header img{
    height:100px;
    width:100px;
    justify-self: center;
}

#login{
    padding:40px 40px;
    border:1px solid gray;
    border-radius:5%;
    justify-self: center;
    margin:80px auto;
    text-align: center;
    display: inline-block;
    background-color:white;
    width:30%;
}

#login label{
    display:block;
    text-align:center;
    margin:10px 0px;
}

#login input{
    display:block;
    text-align:left;
    margin:10px 0px;
    border:none;
    outline:none;
    width:100%;
}

#form-border{
    height:1px;
    width:100%;
    background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
}

.api-login{
    padding:10px 20px;
    border:1px solid gray;
    background-color: white;
    color:black;
    text-decoration:none;
    border-radius: 8%;
    transition:all .3s;
    display:block;
    margin:10px 0px;
}

#login .api-login:hover{
    background-color: #E6E6FA;
    border:1px solid #E6E6FA;
}

#login h4 a{
    color:#DC143C;
}
.button-signin-and-signup{
    width:100%;
    margin:20px 0px;
    padding:10px 20px;
    background-color:#DC143C;
    color:white;
    border:1px solid #DC143C;
    cursor: pointer;
    border-radius:5%;
    transition:all .3s;
}

.button-signin-and-signup:hover{
    background-color: rgba(172, 5, 38, 0.877);
}

.button-api-login{
    width:15px;
    height:15px;
    margin-right:10px;
}

.welcome{
    padding:20px 20px;
    text-align:center;
}

#daftar{
    padding:40px 40px;
    border:1px solid gray;
    border-radius:5%;
    justify-self: center;
    margin:150px 0px;
    text-align: center;
    display: inline-block;
    background-color:white;
    width:30%;
}

#daftar label{
    display:block;
    text-align:center;
    margin:10px 0px;
}

#daftar input{
    display:block;
    text-align:left;
    margin:10px 0px;
    border:none;
    outline:none;
    width:100%;
}

#form-border{
    height:1px;
    width:100%;
    background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
}

.col-descript-facility{
    display:grid;
    grid-template-rows:repeat(2,auto);
}

#review-facility{
    margin:0px 50px;
    text-align:center;
}

#slider{
    overflow:hidden;
    width:900px;
    height:675px;
    margin:50px 0px;
    justify-self:center;
}

#slider figure .slide{
    width:20%;
    height:100%;
    float:left;
}

#slider figure img{
    width:100%;
    height:100%;
    float:left;
}

#slider figure{
    position:relative;
    width:500%;
    margin:0;
    left:0;
    animation:25s slidy infinite;
}

.slide h1{
    text-align:center;
    margin-top:50px;
    margin-bottom:625px;
    margin-left:500px;
    margin-right:100px;
}
#building{
    width:100%;
    height:100%;
    float:left;
    color:white;
}

#breakfast{
    width:100%;
    height:100%;
    float:left;
    color:black;
}

#eatingroom{
    width:100%;
    height:100%;
    float:left;
}

#meetingroom{
    width:100%;
    height:100%;
    float:left;
    color:black;
}

#sleepingroom{
    width:100%;
    height:100%;
    float:left;
}

@keyframes slidy{
	0%{
		left: 0%
	}
 
	10%{
		left: 0%;
	}
 
	12%{
		left: -100%;
	}
 
	22%{
		left: -100%;
	}
 
	24%{
		left: -200%;
	}
 
	34%{
		left: -200%;
	}
 
	36%{
		left: -300%;
	}
 
	46%{
		left: -300%;
	}
 
	48%{
		left: -400%;
	}
 
	58%{
		left: -400%;
	}
 
	60%{
		left: -300%;
	}
 
	70%{
		left: -300%;
	}
 
	72%{
		left: -200%;
	}
 
	82%{
		left: -200%;
	}
 
	84%{
		left: -100%;
	}
 
	94%{
		left: -100%;
	}
 
	96%{
		left: 0%;
	}
 
	100%{
		left: 0%;
	}
}

#big-horizontal-border{
    height:1px;
    width:100%;
    margin:10px 0px;
    background-color:gray;
}

#col-fitur{
    display:grid;
    grid-template-columns:repeat(2,auto);
}

.fitur{
    border:1px solid gray;
    background-color:white;
    margin:20px 20px;
    padding:20px 20px;
    text-align: center;
    border-radius: 5%;
    box-shadow:0px 2px 2px 0px black;
    transition:all .3s;
}

.fitur a{
    text-decoration:none;
    color:black;
    display: block;
}

.fitur:hover {
    background-color: #F8F8FF;
    cursor:pointer;
    box-shadow:1px 4px 4px 1px black;
}

.fitur:hover a img{
    width:125px;
    height:125px;
}

.fitur a img{
    width:120px;
    height:120px;
    transition:all .3s;
}

footer{
    background-color: #333;
    display:grid;
    grid-template-rows:repeat(2,auto);
    margin-top:auto;
}

.bottom-footer{
    color:white;
    padding:10px 40px;
    text-align: center;
}

.top-footer{
    color:white;
    padding:10px 40px;
    text-align:center;
}

.top-footer a{
    color:white;
    text-decoration:none;
    transition:all .3s;
}

.top-footer a:hover{
    color:gray;
}

#mini-vertical-border{
    margin:0px 10px;
    height:20px;
    width:1px;
    border:1px solid white;
}

.middle-footer{
    display:grid;
    grid-template-columns:repeat(2,auto);
    grid-template-areas: 
    "left-footer"
    "right-footer";
}

#left-middle-footer{
    padding:0px 80px;
    text-align:left;
    color:white;
    display:grid;
    grid-area: "left-footer";
}

#left-middle-footer .maps{
    border-radius:8px;
    width:300px;
    height:200px;
    background-image: url('./img/map.png');
}


#left-middle-footer .maps a{
    height:30px;
    width: 120px;
    background-color:white;
    color: #e81022;
    border: 1px solid #e81022;
    border-radius: 8px;
    margin-top: 150px;
    margin-left: 20px;
    display: block;
    padding: auto 0px;
}

#left-middle-footer .maps a:hover{
    background-color: #e81022;
    color:white;
}

#left-middle-footer .maps a img{
    width:22px;
    height:22px;
}

#left-middle-footer a{
    text-decoration:none;
    color:white;
    transition:all .3s;
}

#left-middle-footer a:hover{
    color:gray;
}

#right-middle-footer{
    padding-left:450px;
    text-align:left;
    color:white;
    grid-area: "right-footer";
}

#right-middle-footer ul{
    padding: 100px 0px;
}

#right-middle-footer ul li{
    list-style-type: none;
}

#descript-contact{
    padding:0px 40px;
    text-align:center;
}

#contact{
    padding:20px 100px;
}

#contact input{
    margin:10px 0px;
    width:300px;
}

#contact textarea{
    margin:10px 0px;
    width:400px;
}

#contact button{
    padding:10px 10px;
    cursor:pointer;
    border-radius:8%;
    transition:all .3s;
    background-color: #00CED1;
    border:1px solid gray;
}
 
.item_list{
    padding:0px;
}

.menu-contact{
    padding:40px 50px;
    display:grid;
    grid-template-columns:repeat(2,auto);
}

.menu-contact ul li{
    list-style-type: none;
}

#menu-sosmed{
    padding:20px 50px;
    text-align:center;
}

.menu-contact h3{
    margin-bottom:20px;
    margin-top:0px;
}

#menu-sosmed a img{
    width:50px;
    height:50px;
    margin:0px 10px;
}

.bg-paper{
    background-color:#e6f0e9;
    height:500px;
}

.request-list{
    background-color:white;
    height:400px;
    width:70%;
    padding:40px 30px;
    text-align:left;
    border:1px solid gray;
    box-shadow:1px 1px 1px 1px gray;
}

.request-list p{
    font-style:italic;
}

.request-list form{
    text-align:left;
    padding:10px 0px;
}

.request-list form input{
    margin:5px 20px;
}

#list-nama-barang{
    padding:10px 0px;
    text-align:left;
}

#list-nama-barang input{
    margin:5px 20px;
}

.button-barang{
    padding:5px 10px;
    margin:15px 20px;
    color:#39394d;
    background-color: #ebebf2;
    border:1px solid #ebebf2;
    box-shadow:1px 1px 1px 1px gray;
    cursor:pointer;
    border-radius:8%;
    transition:all .3s;
}

.button-barang:visited{
    border:1px solid #ebebf2;
}

.button-barang:hover{
    background-color: #fafafc;
}

.button-barang:active{
    background-color: #ebebf2;
    border:1px solid #ebebf2;
}

.item_page{
    padding: 30px 30px;
}

.item_page h1{
    text-align: center;
    font-size: 28px;
}

.item_page ul li{
    list-style-type: none;
    display: grid;
    margin: 30px 0px;
    padding: 20px 0px;
    text-decoration: none;
}   

.item_page ul li a{
    padding: 10px 10px;
    margin: 20px 0px;
    text-decoration: none;
    background-color: white;
    transition: all .3s;
}

.item_page ul li a:hover{
    background-color: #e6ebe7;
}

.item_page ul li .list-image-item{
    display: inline-block;
    margin: 10px 0px;
}

.title-list-shimmer{
    padding:0px 400px;
}

.shimmer{
    width: 180px;
    height: 180px;
}

.title-and-date{
    padding:0px;
}

.item_page ul li .item{
    display:inline-block;
    color: black;
    margin: 0px 15px;
    padding: 0px 0px;
}

.list-image-item{
    height: 180px;
    width: 180px;
}

.deskripsi{
    display: block;
    color: black;
    margin: 0;
}

.deskripsi-date{
    margin: 10px 0px;
}
.deskripsi p{
    margin: 0;
}

.About{
    display:grid;
    grid-template-columns: 30% auto;
    margin-bottom: 120px;
}

.spesification{
    justify-self: center;
    display:grid;
    grid-template-rows:repeat(3,auto);
}

.built-years{
    border: 1px solid #9c9a97;
    padding : 20px 40px;
    margin : 20px 40px;
    transition: all .3s;
}

.built-years:hover{
    box-shadow: 1px 3px 3px 1px black;
}

.bedroom{
    border : 1px solid #9c9a97;
    padding : 20px 40px;
    margin : 20px 40px;
    transition: all .3s;
}

.bedroom:hover{
    box-shadow: 1px 3px 3px 1px black;
}

.bedroom img{
    width: 50px;
    height: 50px;
    margin: 0px 20px;
}

.facility{
    border:1px solid #9c9a97;
    display:grid;
    grid-template-columns:15% auto;
    padding : 20px 40px;
    margin : 20px 40px;
    transition : all .3s;
}

.facility:hover{
    box-shadow: 1px 3px 3px 1px black;
}

.img-facility img{
    width: 30px;
    height: 30px;
    display: block;
    margin-top: 10px;
    margin-left:10px;
    margin-right:0px;
}

.descript-facility span{
    display: block;
    margin: 15px 10px;
}
 
.info-hotel{
    border: 1px solid #9c9a97;
    padding: 20px 20px;
    transition: all .3s;
    margin: 20px 15px;
}

.info-hotel:hover{
    box-shadow: 1px 3px 3px 1px black;
}

.Item-styling{
    padding: 20px 40px;
} 

.Item-styling h1,h3,h5{
    text-align: center;
}

.Item-styling img{
    width: 600px;
    height: 700px;
    margin:20px 100px;
}

.update{
    text-align: center;
}

.img-and-facility{
    display:grid;
    grid-template-columns:70% auto;
    grid-template-areas:
        "img-item"
        "location-item";
}


#Location-Item{
    grid-area: "location-item";
}

#Img-Item{
    grid-area: "img-item";
}

.rendering-description{
    white-space: pre-line;
}

.lokasi-item{
    text-align: center;
    width:250px;
    height:100px;
    border-radius: 8px;
    padding:20px 10px;
    margin:30px 0px;
}

.lokasi-item img{
    width:25px;
    height:25px;
    margin:0px 30px;
}

.lokasi-item span{
    display:block;
}

#Lokasi{
    background-color: #c28204;
}

#Tanggal{
    background-color: #7df0d1;
}

#Waktu{
    background-color: #49afeb;
}

#Harga{
    background-color: #ff8308;
}

#Email{
    background-color: #85de88;
}

#Nomor{
    background-color: #fcd703;
}

@media screen and (max-width: 1024px){
    .bedroom img{
        margin: 0px 60px;
    }

    .img-facility img{
        margin-top: 14px;
    }

    #right-middle-footer{
        padding-left: 300px;
    }

    .descript-facility{
        padding: 0px 15px;
    }

    .descript-facility span{
        display:block;
        margin: 12px 10px;
    }

    .item_list{
        padding:0px;
    }
    
    .Item-styling img{
        margin: 20px 20px;
    }

    .Item-styling h1{
        font-size: 32px;
    }

    .lokasi-item{
        width: 200px;
        height: 150px;
        margin: 15px 0px;
    }
}

@media only screen and (max-width: 768px){
    header{
        width: 100%;
    }

    .col-descript-facility{
        width: 100%;
    }

    #review-facility{
        margin:0px 0px;
    }

    #review-facility h1{
        font-size: 16px;
    }

    #slider{
        overflow:hidden;
        width:100%;
        height:600px;
        margin:50px 0px;
        justify-self:center;
    }
    
    #slider figure .slide{
        width:20%;
        height:100%;
        float:left;
    }
    
    #slider figure img{
        width:100%;
        height:100%;
        float:left;
    }
    
    #slider figure{
        position:relative;
        width:500%;
        margin:0;
        left:0;
        animation:25s slidy infinite;
    }
    
    .slide h1{
        text-align:center;
        margin-top:50px;
        margin-bottom:625px;
        margin-left:500px;
        margin-right:100px;
    }

    .fitur a h3{
        font-size: 16px;
    }

    .fitur a p{
        font-size: 13px;
    }

    footer{
        font-size: 13px;
    }

    #left-middle-footer .maps{
        height: 180px;
        width: 250px;
    }

    #left-middle-footer .maps a{
        width: 100px;
        vertical-align:center;
        margin-top: 120px;
    }

    #left-middle-footer .maps a img{
        width: 20px;
        height: 20px;
    }
    #right-middle-footer{
        padding-left:100px;
        text-align:left;
        vertical-align:center;
        color:white;
    }

    .item_page ul li .shimmer-list-img{
        width: 120px;
        height: 120px;
    }

    .item_page ul li .item h3{
        font-size: 16px;
    }

    .item_page ul li .item p{
        font-size: 12px;
    }

    .deskripsi span{
        font-size: 12px;
    }

    .deskripsi p{
        font-size: 12px;
    }

    .About{
        display:grid;
        grid-template-columns: 30% auto;
        margin-bottom: 120px;
    }

    .built-years{
        margin: 20px 20px;
        padding: 20px 20px;
    }

    .built-years h4{
        font-size: 16px;
    }

    .facility{
        border:1px solid #9c9a97;
        display:grid;
        grid-template-columns:15% auto;
        padding : 20px 20px;
        margin : 20px 20px;
        transition : all .3s;
    }

    .item_list{
        padding:0px;
    }
    
    .img-facility img{
        width: 20px;
        height: 20px;
        display: block;
        margin-top: 10px;
        margin-left:0px;
        margin-right:0px;
    
    }

    .descript-facility{
        padding:0px 10px;
    }

    .descript-facility span{
        display: block;
        margin: 15px 5px;
        font-size: 10px;
    }

    .bedroom{
        border : 1px solid #9c9a97;
        padding : 20px 20px;
        margin : 20px 20px;
        transition: all .3s;
    }
    
    .bedroom:hover{
        box-shadow: 1px 3px 3px 1px black;
    }
    
    .bedroom img{
        width: 50px;
        height: 50px;
        margin: 0px 40px;
    }
    
    .info-hotel{
        padding: 20px 20px;
        margin: 20px 5px;
    }

    .info-hotel{
        font-size: 12px;
    }

    .Item-styling h1{
        font-size: 28px;
    }

    .Item-styling h3{
        font-size: 24px;
    }

    .lokasi-item{
        width: 150px;
        height: 100px;
        margin:20px 30px;
        padding: 20px 10px;
        font-size: 12px;
    }

    .lokasi-item img{
        width: 20px;
        height: 20px;
        margin: 0px 20px;
    }
}

@media screen and (max-width: 692px){
    .fitur h3{
        font-size: 22px;
    }

    .fitur p{
        font-size: 12px;
    }

    #review-facility h1{
        font-size: 28px;
        margin:0px 30px;
    }

    #slider{
        overflow:hidden;
        width:65%;
        height:380px;
        margin:50px 20px;
        justify-self:center;
    }

    footer{
        font-size: 12px;
    }

    footer #right-middle-footer{
        padding-left: 0px;
    }

    footer #right-middle-footer ul{
        padding-left: 0px;
    }

    .menu-contact h3{
        font-size: 15px;
    }

    .menu-contact p{
        font-size: 14px;
    }

    .menu-contact ul{
        padding: 0px;
    }

    .menu-contact #menu-sosmed{
        padding: 0px 50px;
    }

    .info-hotel{
        margin: 20px 10px;
    }

    .info-hotel p{
        font-size: 14px;
    }

    .built-years h4{
        font-size: 18px;
    }

    .bedroom span{
        font-size: 18px;
    }

    .facility{
        border:1px solid #9c9a97;
        display:grid;
        grid-template-columns:15% auto;
        padding : 20px 10px;
        margin : 20px 20px;
        transition : all .3s;
    }

    .img-facility img{
        width: 30px;
        height: 30px;
        display: block;
        margin-top: 10px;
        margin-left:0px;
        margin-right:0px;
    }

    .descript-facility span{
        display:block;
        margin: 20px 5px;
        font-size: 12px;
    }

    .item_page ul li .list-image-item{
        display: inline-block;
        margin-bottom: 15px;
    }

    .item_page ul li .item{
        display:inline-block;
        color: black;
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 15px;
        padding: 15px 0px;
    }

    .item h3,p{
        margin:0px;
    }

    .item_list{
        padding:0px;
    }
}

@media only screen and (max-width:425px){
    .alert{
        font-size: 12px;
    }
    .welcome h3{
        font-size: 22px;
    }

    #review-facility h1{
        font-size: 14px;
    }

    #slider{
        overflow:hidden;
        width:65%;
        height:200px;
        margin:50px 20px;
        justify-self:center;
    }

    .fitur p{
        font-size: 10px;
    }

    .fitur h3{
        font-size : 14px;
    }

    #left-middle-footer{
        padding: 0px 0px;
        justify-self: center;
        text-align: center;
    }

    #right-middle-footer{
        padding-left: 0px;
    }

    #right-middle-footer ul {
        text-align: center;
        margin-right:0px;
    }

    #descript-contact h3{
        font-size: 14px;
        font-weight: bold;
    }

    #descript-contact p{
        font-size: 12px;
    }

    #contact label{
        font-size: 12px;
    }

    #contact input{
        font-size:12px;
        width: 200px;
        height: 20px;
    }

    #contact textarea{
        font-size:12px;
        width: 240px;
        height: 100px;
    }

    #contact form button{
        font-size:12px;
    }

    .menu-contact{
        padding:40px 30px;
    }
    .menu-contact ul h3{
        font-size:12px;
    }

    .menu-contact p{
        font-size: 10px;
    }

    #menu-sosmed h3{
        font-size:12px;
    }

    #menu-sosmed a img{
        width: 22%;
        height: 22%;
        margin:0px 5px;
    }

    .tentang_kami{
        font-size: 14px;
    }

    .spesification{
        grid-area: "specification";
        display:grid;
        grid-template-rows:repeat(3,auto);
        width: 40%;
    }
    
    .built-years h4,span{
        font-size: 11px;
    }

    .info-hotel{
        grid-area: "info-hotel";
        margin: 10px 10px;
    }

    .info-hotel p{
        font-size: 10px;
    }

    .info-hotel h3{
        font-size: 14px;
        font-weight: bold;
    }

    .bedroom span{
        font-size: 11px;
    }

    .descript-facility span{
        font-size: 10px;
        margin: 12px 5px;
    }

    .img-facility img{
        width: 23px;
        height: 23px;
    }

    .built-years{
        padding: 10px 6px;
        margin:10px 10px;
        width: 70%;
        height: 65%;
        text-align: center;
    }

    .bedroom{
        padding:10px 6px;
        margin:10px 10px;
        width: 70%;
        height: 80%;
        text-align: center;
    }

    .bedroom img{
        margin: 0px 0px;
        justify-content: center;
    }

    .bedroom span{
        display: block;
    }

    .facility{
        padding:10px 10px;
        margin:10px 10px;
        width: 70%;
        height: 85%;
    }

    .fitur{
        margin: 20px 10px;
    }

    #left-middle-footer .maps{
        height: 120px;
        width: 180px;
    }

    #left-middle-footer .maps a img{
        width: 18px;
        height: 18px;
    }

    #left-middle-footer .maps a{
        margin-top: 80px;
        width: 80px;
        height: 20px;
        font-size: 10px;
    }

    .About{
        display: grid;
        grid-template-columns: auto;
    }

    .Item-styling h1{
        font-size: 16px;
    }

    .item_page h3{
        font-size: 22px;
    }

    .item_page ul li a{
        text-align: center;
    }

    .item_page ul li .item{
        margin:10px 10px;
        padding:0px;
        grid-area: "item";
    }

    .item h3{
        font-size: 22px;
    }

    .deskripsi p{
        font-size: 12px;
    }

    .item_page ul li .list-image-item{
        display:block;
        margin:0px auto;
        height: 270px;
        width: 180px;
    }

    .img-and-facility{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 70% auto;
        grid-template-areas: 
            "img-item"
            "location-item";
    }

    .Item-styling img{
        width: 100%;
        height: 100%;
        margin: 0px;
    }

    .Item-styling h3{
        font-size: 18px;
        margin:0px;
    }

    .item_list{
        padding:0px;
    }

    .Item-styling p{
        font-size: 12px;
    }

    .middle-footer {
        display: grid;
        grid-template-columns: auto;
    }

    #Img-Item{
        justify-self: center;
    }

    #Location-Item{
        justify-self: center;
        display:grid;
        grid-template-rows: repeat(2,auto);
        grid-template-columns: repeat(2,auto);
    }

    .lokasi-item{
        width: 120px;
        height: 90px;
        margin: 10px 10px;
        padding: 10px 10px;
    }

    .lokasi-item img{
        width: 30%;
        height: 30%;
        margin:0px;
    }
}

@media only screen and (max-width: 375px){
    .fitur{
        margin: 20px 10px;
    }

    .fitur a p{
        font-size: 10px;
    }

    footer p{
        font-size: 10px;
    }

    #contact{
        padding: 20px 80px;
    }

    .item_list{
        padding:0px;
    }

    .menu-contact #menu-sosmed{
        padding:0px 30px;
    }

    #right-middle-footer ul {
        padding:20px 0px;
    }

    #left-middle-footer .maps{
        background-image: url('./img/map2.png');
    }
}

@media only screen and (max-width:320px){
    #slider{
        width: 75%;
        height: 200px;
        margin: 20px 20px;
    }
    .fitur{
        margin: 20px 5px;
        padding: 20px 5px;
    }

    #contact{
        padding: 20px 50px;
    }

    .menu-contact #menu-sosmed{
        padding:0px 15px;
    }

    .item_list{
        padding:0px;
    }

    .Item-styling{
        padding:0px 10px;
    }
}